* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343434;
}

.content-wrap {
  width: 98%;
  max-width: 1180px;
  margin: 0 auto;
}

.images-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.images-grid img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.images-grid img:hover {
  transform: translateY(-2px);
}

.img-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #343434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-viewer img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.img-viewer .close-icon {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  color: #bdbdbd;
  transition: all .25s ease-in-out;
}

.img-viewer .close-icon:hover {
  color: #fff;
}

@media screen and (min-width: 576px) {
  .images-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .images-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .img-viewer .close-icon {
    right: 1rem;
    top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .images-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}